workflows/telegram sub workflow.json
{
  "name": "telegram sub workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -840,
        -360
      ],
      "id": "c4b0eab7-be5d-47a7-af05-6ad8455d53f0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a helpful research agent.\nyou use your tools to search the web,hackernews,wikipedia, serpApi , use them all to search or use the right one.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -560,
        -320
      ],
      "id": "00b780de-8505-49a7-ab55-af2b2b283015",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        -60
      ],
      "id": "5e707727-1cc8-40ce-b997-1a180c6e9250",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OZvUXFtSjspVMmz2",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "additionalFields": {
          "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        -360,
        -60
      ],
      "id": "a0229919-d568-4c06-a036-a66c2109e699",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -500,
        -60
      ],
      "id": "06d17774-436f-464c-96e0-59569b1316ad",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -220,
        -60
      ],
      "id": "8029b70e-e977-4478-912e-8c363533852f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "QP6q0AVtGCpwYQiw",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "latest news site:bbc.com"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfde391a-14ff-4d3e-b167-737928678725",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df150c2c1ee870c0498df465041284cf0f42e43d3c2ec80707e235547d8ac814"
  },
  "id": "3zp8tfwjWVrBBQTN",
  "tags": []
}